<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_signs/style.css' %}">
</head>
<body class="question">
  <form action="/question" method = "post">{% csrf_token %}
    <div class="container">
      <img src="{{ right_sign.sign_url }}" class="main_sign" alt="FOTKA">
      <br>
      <h3>Aka je to znacka?</h3>
      <div class="btn-group-vertical" role="group">
        {% for sign in list%}
          <button type="submit" name="btn_start"
                  class="btn btn-lg quest_options">{{ sign }}
          </button>
        {% endfor %}
      </div>
    </div>
  </form>
</body>
