<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app_signs/style.css' %}">
</head>
<body>
    <form action="/question" method = "post">{% csrf_token %}
        <img src={{ right_sign.sign_url }} height="50%" class="rounded mx-auto d-block">

            {% for x in list %}
              <div style="text-align: center">
                <button type="submit" name="btn_start"
                  class="btn btn-lg btn-dark"
                  style="font-size: 20px; margin-top: 15px">{{ x }}
                </button>
              </div>
            {% endfor %}
          </ul>
        </div>
    </form>
</body>
