<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app_signs/style.css' %}">
</head>
<body>
  <form action="/question" method = "post">{% csrf_token %}
    <br><br>
    <img src={{ right_sign.sign_url }} height="40%" class="rounded mx-auto d-block">
    <br>
    <p class="text-center" style="font-size: 25px">Co je to za znacku?</p>
    {% for x in list %}
      <div class="w-100" style="text-align: center">
        <button type="submit" name="btn_start"
                class="btn btn-lg btn-dark"
                style="font-size: 20px; margin-top: 15px; width:25%">{{ x }}
        </button>
      </div>
    {% endfor %}
  </form>
</body>
