img.main_sign {
    border: 4px solid #333;
    border-radius: 10px;
    max-height: 350px;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.question {
    background-image: url("question_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
    color: #f4f4f4;
}

div.container {
    margin-top: 5.5%;
    text-align: center;
    vertical-align: center;
}

button.quest_options {
    min-width: 400px;
    font-size: 20px;
    margin-top: 10px;
    height: 50px;
    border: 0.5px dashed #333;
    border-radius: 5px;
    color: #333;
    background-color: #f4f4f4;
}
